@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Readme <a href="https://bitbucket.org/vueling-otd-backend20/jos-bolvar-salazar/src/master/README.md">
        Click aqui para documentacion</a>.</p>
</div>
